@import "tailwindcss";

@layer base {
  body {
    background-color: #07090e;
    color: #e4e4e7;
    font-family: 'JetBrains Mono', monospace;
    overflow-x: hidden;
  }

  /* Custom Cyberpunk Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #090b10;
  }
  ::-webkit-scrollbar-thumb {
    background: #1f2738;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #f59e0b;
  }
}
